Words &copy; {{ site.time | date: "%Y" }}
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}.
Website source available under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="Creative Commons Attribution-Noncommercial-Share Alike 3.0 Unported">CC BY-NC-SA 3.0</a> License.
<br>
All views expressed here are my own, not my clients', employer's or wife's.
<br>
Powered by <a href="http://octopress.org/">Octopress</a>, <a href="http://unicorn.bogomips.org">Unicorns</a>
and <a href="http://www.linode.com/?r=63b4311120ddd88b8817c4d7e84eb164ee3afb60">Linode</a>
